#index {
  background-image: url("../img/background-login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 110px;
}

#list{
  background-color: #0b0c22;
  width: 100%;
  height: 430px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background : linear-gradient(
    45deg,
    #06dee1,
    #79ff6c
  );
  border-radius: 5px;
}

#login{
  padding-top: 10px;
  background-color: #0b0c22;
  width: 500px;
  height: 430px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
}

.container img {
  max-width: 150px;
  max-height: 150px;
  position: relative;
  width: 80px;
  height: 80px;
}

input[id="email"],
input[id="password"] {
  margin-top: 30px;
  height: 45px;
  width: 300px;
  font-size: 18px;
  margin-bottom: 30px;
  background-color: #fff;
  padding-left: 30px;
 margin-left: 85px;
}

#btn-login {
padding: 10px 25px;
 margin-top: 15px;
 margin-left: 0px;
  border: none;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .container {
    max-width: 300px;
    
  }

  .container img {
    width: 100px;
    height: 100px;
  }

input[id="email"],
input[id="password"] {
  margin-top: 30px;
  height: 40px;
  width: 200px;
  font-size: 12px;
  margin-bottom: 30px;
  background-color: #fff;
  padding-left: 30px;
 margin-left: 40px;
}

#btn-login {
  padding: 10px 25px;
 margin-top: 15px;
 margin-left: 0px;
  border: none;
  color: #fff;
}
}

/*
Stylesheet of Professor Dashboard
*/

#body{
  background: #0b0c22;
  padding-top: 110px;
  padding-left: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
}


/* Navbar */
.navbar{
  min-height: 33px !important;
  margin-bottom:0;
  border-radius:0;
}

.navbar-nav .navbar-brand{
  font-size: medium;
  padding-top:6px !important;
  padding-bottom:0 !important;
  height: 33px;
}

.navbar-default {
  background-color: rgb(119, 160, 185);
  border-color: lightcyan;
}
.navbar-default .navbar-brand {
  color: white;
  font-size: xx-large;
}

.navbar-default .navbar-text {
  color: #ecf0f1;
}

.textDefault {
  color: white;
  text-align: center;
}

a{
  color: #0b0c22;
}

p.list-group {
  font-size: 2vw;
}
.main-section {
  position: absolute;
  top: 100px;
  width: 80%;
  text-align: center;
}
#btn-manually{
  border-color: #06dee1;
}

#btn-randomly{
  border-color: #79ff6c;

}
#btn-manually, #btn-randomly{
  border-width: 5px;
  background-color: #0b0c22;
  color: white;
  border-style: solid;
  padding: 20px;
  margin: 15px;
}

#set-timer-btn{
  background-color: #79ff6c;
  color: black;
  position: absolute;
  text-align: center;
  top: 100px;
  right: 150px;
}

#inlineFormCustomSelect{
  position: relative;
  text-align: center;
  font-size: 2em;
  width: 2cm;
  padding-right: 1cm;
  height: 2cm;
}

#start-btn{
  left: 200px;
  text-align: center;
  background-color:#79ff6c ;
  color: black;
}


.modal-title{
  text-align: center;
  padding-left: 180px;
}

@media only screen and (max-width: 600px) {
  .modal-title{
    text-align: center;
    padding-left: 95px;
  }
}

