nav{
  color:#fff;
}

#index-body {
  background-image: url("../img/background-login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #0b0c22;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 110px;
}
#dashboard-body{
  background: #0b0c22;
  padding-top: 100px;
  overflow-x: hidden;
}
#list{
  background-color: #0b0c22;
  width: 100%;
  max-height: 430px;
  overflow-y: auto;
  scroll-behavior: smooth;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-thumb{
  background : linear-gradient(
    45deg,
    #06dee1,
    #79ff6c
  );
  border-radius: 5px;
}

#login{
  padding: 40px 0;
  background-color: #0b0c22;
  width: 500px;
  height: 400px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#login-img{
  max-width: 150px;
  max-height: 150px;
  position: relative;
  width: 80px;
  height: 80px;
}

input[id="email"],
input[id="password"] {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  height: 45px;
  width: 300px;
  font-size: 18px;
  margin-bottom: 30px;
  background-color: #fff;
  padding-left: 30px;
}

#btn-login {
padding: 10px 25px;
margin-top: 15px;
margin-left: 0px;
border: none;
color: #fff;
}

.custom-checkbox{
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    font-size: 18px;
    width: 15px;
    height: 15px;
    border: 2px solid #06dee1;
    border-radius: 30%;
    margin-left: 5px;
    margin-top: 6px;
}
.custom-checkbox:hover{
  cursor: pointer;
  background-color: #1a9a9c;
  background-clip: content-box;
  padding:1.5px;
}
.custom-checkbox:focus{
  -webkit-appearance: none;
  -moz-appearance: none;
  outline:none;
  background-color: #fff;
}

.custom-checkbox:checked{
  background-clip: content-box;
  background-color: #06dee1;
  padding:1.5px;
}
.custom-checkbox:disabled {
  background: #dddddd;
}

.notification-badge{
  background-color: #ccc;
  width: 95%;
  margin:auto;
  display: inline-flex;
  padding: 5px;
  margin-top: 10px;
  text-align: center;
  color: #555;
}

.icons-notification{
  width: auto;
  font-size: 1.5em;
  margin: auto;
  height: auto;
  display: inline-flex;
}
.icons-notification:hover{
  cursor: pointer;
}

.accept-notification{
  color:green;
}
.refuse-notification{
  color:red;
}


@media only screen and (max-width: 600px) {
  #login {
    max-width: 300px;
    
  }

  #login-img {
    width: 100px;
    height: 100px;
  }

input[id="email"],
input[id="password"] {
  margin-top: 30px;
  height: 40px;
  width: 200px;
  font-size: 12px;
  margin-bottom: 30px;
  background-color: #fff;
  padding-left: 30px;
 margin-left: 40px;
}

#btn-login {
  padding: 10px 25px;
 margin-top: 15px;
 margin-left: 0px;
  border: none;
  color: #fff;
}
}

/*
Stylesheet of Professor Dashboard
*/

/* Navbar */
.navbar{
  min-height: 33px !important;
  margin-bottom:0;
  border-radius:0;
}

.navbar-nav .navbar-brand{
  font-size: medium;
  padding-top:6px !important;
  padding-bottom:0 !important;
  height: 33px;
}

.navbar-default {
  background-color: rgb(119, 160, 185);
}
.navbar-default .navbar-brand {
  color: white;
  font-size: xx-large;
}

.navbar-default .navbar-text {
  color: #ecf0f1;
}

.textDefault {
  color: white;
  text-align: center;
}

a{
  color: #0b0c22;
}

p.list-group {
  font-size: 2vw;
}
.main-section {
  padding-top: 70px;
  width: 100%;
  height: 100%;
  text-align: center;
}
#btn-manually{
  border-color: #06dee1;
}

#btn-randomly{
  border-color: #79ff6c;

}
#btn-manually, #btn-randomly{
  border-width: 3px;
  background-color: #0b0c22;
  color: white;
  border-style: solid;
  padding: 20px;
  margin-top: 20px;
}

#set-timer-btn{
  background-color: #62b85a;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
}

#inlineFormCustomSelect{
  position: relative;
  text-align: center;
  font-size: 2em;
  width: 2.3cm;
  padding-right: 1cm;
  height: 2cm;
}

#start-btn{
  left: 200px;
  text-align: center;
  background-color:#79ff6c ;
  color: black;
}


.modal-title{
  text-align: center;
  padding-left: 180px;
}

@media only screen and (max-width: 600px) {
  .modal-title{
    text-align: center;
    padding-left: 95px;
  }
}

/*
Stylesheet of Random Groups
*/


#groups-container{
  width: 100%;
  height: 80%;
  position: relative;
}
.single-group{
  background-color: #d7d7d7;
  border-radius: 1em;
  width: 40%;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}
.single-group>div{
  background-image: url("../img/chat.png");
  background-position: left;
	background-repeat:no-repeat;
	background-size: contain;
  position: relative;
  /* max-width: 250px; */
  /* height: 40%; */
  padding: 5px;
  text-align: right;
  font-size: 1.2em;
  /* font-size: 2vw; */
}
#rnd-group1{
  left: 5%;
  top: 5%;
}
#rnd-group2{
  right: 5%;
  top: 5%;
}
#rnd-group3{
  left: 5%;
  bottom: 5%;
  }
#rnd-group4{
  right: 5%;
  bottom: 5%;
}

.start-container{
  position: relative;
  width: 100%;
  height: 100%;
}
/*
Users-manually
*/
#btn-room{
  border-color: #06dee1;
  border-width: 5px;
  background-color: #0b0c22;
  color: white;
  border-style: solid;
  padding: 20px;
  margin: 15px;
}

.ms-container:after{
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
  min-height: 0;
  visibility: hidden;
}

.ms-container .ms-selectable, .ms-container .ms-selection{
  background: #fff;
  color: #555555;
  float: left;
  width: 45%;
}
.ms-container .ms-selection{
  float: right;
}

.ms-container .ms-list{
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  height: 200px;
  padding: 0;
  overflow-y: auto;
}

.ms-container .ms-list.ms-focus{
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
}

.ms-container ul{
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.ms-container .ms-optgroup-container{
  width: 100%;
}

.ms-container .ms-optgroup-label{
  margin: 0;
  padding: 5px 0px 0px 5px;
  cursor: pointer;
  color: #999;
}

.ms-container .ms-selectable li.ms-elem-selectable,
.ms-container .ms-selection li.ms-elem-selection{
  border-bottom: 1px #eee solid;
  padding: 2px 10px;
  color: #555;
  font-size: 14px;
}

.ms-container .ms-selectable li.ms-hover,
.ms-container .ms-selection li.ms-hover{
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  background-color: #08c;
}

.ms-container .ms-selectable li.disabled,
.ms-container .ms-selection li.disabled{
  background-color: #eee;
  color: #aaa;
  cursor: text;
}

/* Group view*/

.room-container{
  position: relative;
  border: solid;
  width: 100%;
  height: 400px;
}

.room-container > div{
  border: solid;
  position: absolute;
  width: 30%;
  height: 40%;
  padding: 5px;
}

#room2{
  left: 35%;
}
#room3{
  right: 0%;
  }
#room4{
  bottom: 0%;
}
#room5{
  left: 35%;
  bottom: 0%;
}
#room6{
  right: 0%;
  bottom: 0%;
}


/* students-view */

#video-placeholder{
  height:500px;
  width: 100%;
}
.room-active{
  display: none;
}
#chat{
  position: relative;
  display: initial;
}
.open-chat-mobile{
  display: none;
}
.open-chat-mobile>i{
  color: #464baa;
  background-color: #18193b;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 28px;
  border-radius: 1em;
}
#close-chat{
  padding:10px 15px;
  display: none;
}
@media only screen /* ipad modus */
and (max-device-width : 768px) {
  .open-chat-mobile{
    display: inline-block;
    float: right;
    margin-bottom: 15px;
  }
  #chat{
    display: none;
    position: absolute;
    bottom:0;
    left:0;
    width:98%;
    margin-left:1%;
    margin-bottom:70px;
    height: 100vw;
    background:#0b0c22;
  }
  .chat-container{
    border-top:1px solid #1f2149;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
  }
  .video-remote-container{
    margin:auto;
  }
  .video-remote{
    max-width:unset !important;
  }
}
.chat-container{
  height: 90%;
  max-height: 700px;
  overflow:auto;
  background-color: #0b0c22;
}

.chat-input{
    width: 90%;
    border: none;
    background: #1f2149;
    color: #fff;
    /* font-size: 10px; */
    padding: 5px 10px;
}

.chat-input:focus{
  background: #1f2149;
  color: #fff;
  box-shadow:none;
}

.message-container{
  width: 100%;
  display: block;
  padding:5px;
}
.message-container.me{
  text-align: right;
}

.chat-message{
    background: #383b78;
    color: #fff;
    font-size:0.9rem;
    display: inline-block;
    padding: 5px 10px;
}
.chat-message-me{
    background: #1f2149;
    color: #fff;
    font-size:0.9rem;
    display: inline-block;
    padding: 5px 10px;
}
.chat-message-me>span{
  display: block;
  font-size:0.7rem;
  color:#ccc;
}
.chat-message>span{
  display: block;
  font-size:0.7rem;
  color:#ccc;
}

#btn-send{
  background: #1f2149;
  border: none;
}
#btn-send:hover{
  background: #5a5fcc;
  border:none;
}
#btn-send:hover>i{
  color:#fff;
}
#btn-send:disabled,
#btn-send[disabled]{
  border: none;
  background-color: #1f2149;
}
#btn-send:disabled,
#btn-send[disabled]>i{
  color: #464646;
}

#videos-remote-container{
}

.name-in-video{
  position: absolute;
  padding: 10px 20px;
  color: white;
  text-shadow: 1px 1px 3px #000;
}
.name-in-video-prof{
  position: absolute;
  font-size:10px;
  color: white;
  text-shadow: 1px 1px 3px #000;
}

.video-local-container{
 margin:auto;
}
.video-local{
  width:100%;
}
.video-remote-container{
  /* margin:auto; */
  float:left;
}
.video-remote{
  width:100%;
  max-width:40vw;
}

  .column-participant {
    float: left;
    width: 50%;
    padding: 30px;
    height: 478px; 
  }
  
  #row-participant:after {
    content: "";
    display: table;
    clear: both;
}

.names-participants{
text-align: center;
vertical-align: middle;
line-height: 400px;

}

#timer{
  padding-left: 40px;
}


#container-participants {
  position: relative;
  background: lightgray;
}

#video-professor {
  position: absolute;
  background: lightskyblue;
  width: 346px;
  height: 190px;
  right: 350px;
  text-align: center;  
}

#video-me {
  background: lightyellow;
  height: 190px;
  width: 346px; 
  position: absolute; 
  right: 0px;  
  text-align: center;
}

.text-box{
  text-align: center;
  vertical-align: middle;
  line-height: 180px; 
}

@media only screen and (min-device-width : 375px)  
and (max-device-width : 704px) {
 
  #video-me{
  height: 90px;
  width: 160px; 
  position: absolute; 
  right: 0;
  text-align: center;
}
.text-box{
  text-align: center;
  vertical-align: middle;
  line-height: 90px; 
  font-size: initial;
}
#video-professor{
  height: 90px;
  width: 160px; 
  position: absolute; 
  right: 165px;
  text-align: center;
  }
.names-participants{
  font-size: initial;
  }

#container-participants{
height: 470px;
padding-top: 57px;
}
.column-participant{
height: 208px;
width: 100%;
}
.names-participants{
  text-align: center;
  vertical-align: middle;
  line-height: 150px;
}

#timer{
  padding-left: 0px;
}
}

@media only screen and (min-height : 812px)  
and (max-height : 825px) {
  #video-me{
    height: 115px;
    width: 186px; 
    position: absolute; 
    right: 0;
    text-align: center;
  }
  .text-box{
    text-align: center;
    vertical-align: middle;
    line-height: 110px; 
    font-size: initial;
  }
  #video-professor{
    height: 115px;
    width: 186px; 
    position: absolute; 
    right: 190px;
    text-align: center;
    }
  .names-participants{
    font-size: initial;
    }
  
  #container-participants{
  height: 470px;
  padding-top: 57px;
  }
  .column-participant{
  height: 270px;
  width: 100%;
  }
  .names-participants{
    text-align: center;
    vertical-align: middle;
    line-height: 210px;
  }
  
  #timer{
    padding-left: 0px;
  }
  }
  

@media only screen and (min-device-width : 320px)  /*iphone 5 */
and (max-device-width : 374px) {
  #video-me{
  height: 80px;
  width: 158px; 
  position: absolute; 
  right: 0;
  text-align: center;
}
.text-box{
  text-align: center;
  vertical-align: middle;
  line-height: 80px; 
  font-size: initial;
}
#video-professor{
  height: 80px;
  width: 158px; 
  position: absolute; 
  right: 162px;
  text-align: center;
  }
.names-participants{
  font-size: initial;
  text-align: center;
  }

#container-participants{
height: 300px;
padding-top: 59px;
}
.column-participant{
height: 160px;
width: 100%;
}
.names-participants{
  text-align: center;
  vertical-align: middle;
  line-height: 120px;
}

#timer{
  padding-left: 0px;
}
}

@media only screen /* ipad modus */
and (min-device-width : 768px) 
and (max-device-width : 790px) {
  #video-me{
    height: 105px;
    width: 220px; 
    position: absolute; 
    right: 0;
    text-align: center;
  }
  .text-box{
    text-align: center;
    vertical-align: middle;
    line-height: 100px; 
    font-size: initial;
  }
  #video-professor{
    height: 105px;
    width: 220px; 
    position: absolute; 
    right:225px;
    text-align: center;
    }
  .names-participants{
    font-size: initial;
    }
  
  #container-participants{
  height: 470px;
  padding-top: 57px;
  }
  .column-participant{
  height: 380px;
  width: 100%;
  }
  .names-participants{
    text-align: center;
    vertical-align: middle;
    line-height: 350px;
  }
  
  #timer{
    padding-left: 0px;
  }
}


@media only screen /* ipad pro modus */
and (min-device-width : 1024px) 
and (max-device-width : 1030px) {
  #video-me{
    height: 150px;
    width: 270px; 
    position: absolute; 
    right: 0;
    text-align: center;
  }
  .text-box{
    text-align: center;
    vertical-align: middle;
    line-height: 150px; 
    font-size: initial;
  }
  #video-professor{
    height: 150px;
    width: 270px; 
    position: absolute; 
    right: 275px;
    text-align: center;
    }
  .names-participants{
    font-size: initial;
    }
  
  #container-participants{
  height: 470px;
  }
  .column-participant{
  height: 560px;
  width: 100%;
  }
  .names-participants{
    text-align: center;
    vertical-align: middle;
    line-height: 540px;
  }
  
  #timer{
    padding-left: 0px;
  }
}