    <div class="col-sm-12">
        <div class="main-section">
            <h1 class="textDefault">CREATE ROOMS</h1>
            <button type="button" id="btn-manually" onclick="matchManually()" class="btn btn-lg">
                <h3 class="text-default">MATCH USERS MANUALLY</h3>
            </button>
            <div><button type="button" id="btn-randomly" onclick="matchRandomly()" class="btn btn-lg">
                    <h3 class="text-default">MATCH USERS RANDOMLY</h3>
                </button></div>
        </div>
    </div>
</div>
<script type="text/javascript">
   
        var db = firebase.firestore();
        var realTimeDb = firebase.database();
        var url = window.location.origin;
        firebase.auth().onAuthStateChanged(function (user) {
            if (user) {
                var docRef = db.collection("teaching").doc(user.uid);
                docRef.get().then(function (doc) {
                    if (doc.exists) {
                       realTimeDb.ref(user.uid).once('value', function (snapshot) {
                            let alreadyInDb = snapshot.val()
                            if (alreadyInDb && alreadyInDb.rooms && alreadyInDb.mode=="manually") {
                                matchManually()
                            } else if (alreadyInDb && alreadyInDb.rooms && alreadyInDb.mode == "randomly"){
                                matchRandomly()      
                            }
                        });
                        $("#professor-name").html(user.displayName);
                    } else {
                        window.location.replace(url + "/index.html");
                    }
                }).catch(function (error) {
                    console.log("Error getting document:", error);
                });
            } else {
                console.log("user not logged in");
                window.location.replace(url + "/index.html");
            }
        });

    
       
        function matchRandomly() {
            $("#main-container").load("components/professor/match-randomly.html");
        }
        function matchManually() {
            $("#main-container").load("components/professor/match-manually.html");
        }
        
</script>