    <div class="col-sm-12">
        <div class="main-section">
            <h1 class="textDefault">CREATE ROOMS</h1>
            <button type="button" id="btn-manually" onclick="matchManually()" class="btn btn-lg">
                <h3 class="text-default">MATCH USERS MANUALLY</h3>
            </button>
            <div><button type="button" id="btn-randomly" onclick="matchRandomly()" class="btn btn-lg">
                    <h3 class="text-default">MATCH USERS RANDOMLY</h3>
                </button></div>
        </div>
    </div>
</div>
<script type="text/javascript">
        var db = firebase.firestore();
        var url = window.location.origin;
        firebase.auth().onAuthStateChanged(function (user) {
            if (user) {
                var docRef = db.collection("teaching").doc(user.uid);
                docRef.get().then(function (doc) {
                    if (doc.exists) {
                        $("#professor-name").html(user.displayName);
                    } else {
                        window.location.replace(url + "/index.html");
                    }
                }).catch(function (error) {
                    console.log("Error getting document:", error);
                });
            } else {
                console.log("user not logged in");
                window.location.replace(url + "/index.html");
            }
        });
        function matchRandomly() {
            let url = window.location.href;
            let lastSlash = url.lastIndexOf('/');
            let basePath = url.slice(0, lastSlash + 1)
            window.location.replace(basePath + "users-randomly.html")
        }
        function matchManually() {
            $("#main-container").load("components/professor/match-manually.html");
        }
</script>