<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Set timer</h4>
      </div>
      <div class="modal-body">
        <div class="form-row align-items-center">
          <div class="col-auto my-1">
            <label class="mr-sm-2" for="timer-select">Choose the minutes</label>
            <select class="custom-select mr-sm-2" id="timer-select">
              <option value="1" selected>1</option>
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
              <option value="25">25</option>
              <option value="30">30</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button onclick="initiateRooms()" type="button" id="start-btn" class="btn btn-success btn-block"
            data-dismiss="modal">Start</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <div id="countdown-container" class="textDefault">

    </div>
  </div>

  <div class="col-sm-7">
    <div class="main-section">
        <div id="groups-temp">

        </div>
        <div id="groups-created">
          <h1 id="head-groups" class="textDefault">CREATING ROOMS</h1>
            <div class="text-center" id="creating-rooms">
              <div class="spinner-grow text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <div class="spinner-grow text-secondary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <div class="spinner-grow text-success" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <div class="spinner-grow text-danger" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <div class="spinner-grow text-warning" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <div class="spinner-grow text-info" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <div class="spinner-grow text-light" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <div class="spinner-grow text-dark" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div id="groups-container">
            </div>
        </div>
        <button id="stop-rooms" class="btn btn-danger" onclick="clearAll()" style="display: none;">Stop rooms</button>
      </div>
  </div>

  <div class="col-sm-2">
    <div id="rooms-updates" style="display: inline-block;">
      <h1 class="textDefault">Notifications</h1>
    </div>
    <div class="start-container">
      <button type="button" class="btn btn-info btn-lg textDefault" id="set-timer-btn" data-toggle="modal" data-target="#myModal" disabled>Set timer</button>
    </div>
  </div>

</div>
<script type="text/javascript">
  $("#back-prof").css("display","flex");
  document.getElementById("back-prof").addEventListener('click',goBack);
  var uidProf = null;
  var studentsInfo = {};
  var students = null;
  var roomsCreated = {};
  var endTimeGlobal = null;
  var remainingTime = null;
  var countdown = null;
  var groups = [];
  var db = firebase.firestore();
  var realTimeDb = firebase.database();
  firebase.auth().onAuthStateChanged(function (user) {
      if (user) {
          uidProf = user.uid;
          var docRef = db.collection("teaching").doc(uidProf);
          docRef.get().then(function (doc) {
              if (doc.exists) {
                students = doc.data().students;
                $("#professor-name").html(user.displayName);
                let alreadyInDb = null;
                realTimeDb.ref(uidProf).once('value', function (snapshot) {
                  alreadyInDb = snapshot.val()
                  if(alreadyInDb && alreadyInDb.rooms){
                    setRoomsCreated(alreadyInDb)
                  } else {
                    getStudents();
                  }
                });
              } else {
                  let url = window.location.origin;
                  window.location.replace(url + "/index.html");
              }
          }).catch(function (error) {
              console.log("Error getting document:", error);
          });
      } else {
          console.log("user not logged in");
          let url = window.location.origin;
          window.location.replace(url + "/index.html");
      }
  });
  function goBack(){
    let url = window.location.origin;
    window.location.replace(url + "/professor.html");
  }
  function setRoomsCreated(inRTDB) {
    endTimeGlobal = new Date(inRTDB.endtime);
    let students = inRTDB.students;
    let rooms = inRTDB.rooms;
    for(idRoom in rooms){
      roomsCreated[idRoom] = [];
      roomsCreated[idRoom].groupName = rooms[idRoom].groupName;
      for(idStud in students){
        let temp = {};
        studentsInfo[idStud] = students[idStud];
        if(students[idStud].room==idRoom){
          temp = students[idStud];
          temp.id = idStud;
          roomsCreated[idRoom].push(temp);
        }
      }
    }
    createGroupFromDB();
    countdownInit();
  }

  function joinGroup(idRoom){
    realTimeDb.ref(uidProf).update({
      joining: idRoom
    });
    let url = window.location.origin;
    window.location.replace(url + "/students-view.html");
  }
  function createGroupFromDB() {
    let node, head, update, temp, nRooms;
    for (idRoom in roomsCreated) {
      node = '<div id="group' + idRoom + '" class="single-group"><p class="head-single-group">'+ roomsCreated[idRoom].groupName+'</p><div>';
      roomsCreated[idRoom].forEach(student => {
        node += '<span>' + student.name + '</span><br>';
      })
      node += '</div><a class="join-group" href="#" onclick="joinGroup(\'' + idRoom + '\')">Join</a></div>';
      $("#groups-container").append(node);
    }
    nRooms = Object.keys(roomsCreated).length;
    if (nRooms > 1) {
      head = 'YOU HAVE CREATED ' + nRooms + ' ROOMS';
    } else {
      head = 'YOU HAVE CREATED ' + nRooms + ' ROOM';
    }
    $("#head-groups").html(head);
    $("#creating-rooms").remove();
    groups = [];
    realTimeReadRooms();
    realTimeReadStudents();
  }

  function getStudents() {
    let name, node;
    let position = 0;
    students.forEach(id => {
      db.collection("users").doc(id).get().then(function (user) {
        name = user.data().name;
        node = '<li tabindex="-1" role="option" aria-checked="false" class="list-group-item">' + name;
        node += '<input id="' + id + '" class="custom-checkbox" value="' + id + '" tabindex="-1" type="checkbox" onclick="addToArrGroups(\'' + id + '\')"></li>';
        studentsInfo[id] = {
          state: 'away',
          name: user.data().name,
          room: null,
        };
        realTimeDb.ref(uidProf + '/students/' + id).set({
          state: 'away',
          name: user.data().name,
          room: null,
        });
      })
      position++;
      if (position == students.length) {
        setTimeout(createGroup, 1000);
      }
    });
    setModeMatching()
    realTimeReadStudents();
  }

  function enableTimer(){
    if (Object.keys(roomsCreated).length>0) {
      $("#set-timer-btn").attr("disabled", false);
    } else {
      $("#set-timer-btn").attr("disabled", true);
    }
  }
  function shuffle(array) {
    array.sort(() => Math.random() - 0.5);
  }

  function createGroup() {
    let idRoom,node,head,update,temp,nRooms,count,tempId,tempId2;
    count=0;
    let nStud = Object.keys(students).length
    idRoom = Math.random().toString(36).substring(2, 10) + Math.random().toString(36).substring(2, 10);
    roomsCreated[idRoom] = [];
    shuffle(students);
    while(count<nStud){
      if (count == students.length - 1 && nStud%2 == 1) {
        break;
      }
      node = '<div id="group'+idRoom+'" class="single-group"><p class="head-single-group"></p><div>';
      tempId = students[count];
      temp = studentsInfo[tempId];
      temp.id = tempId;
      roomsCreated[idRoom].push(temp);
      node += '<span>' + studentsInfo[tempId].name + '</span><br>';
      count++;
      if(count>=students.length){
        break
      }
      tempId = students[count];
      temp = studentsInfo[tempId];
      temp.id = tempId;
      roomsCreated[idRoom].push(temp);
      node += '<span>' + studentsInfo[tempId].name + '</span><br>';
      count++;
      if(count == students.length-1 && nStud % 2 == 1){
        tempId = students[count];
        temp = studentsInfo[tempId];
        temp.id = tempId;
        roomsCreated[idRoom].push(temp);
        node += '<span>' + studentsInfo[tempId].name + '</span><br>';
      }
       if (count >= students.length) {
        break
      }
      if(count%2==0 || (count == students.length - 1 && nStud % 2 == 1)){
        $("#groups-container").append(node);
        $(".join-group").css("display", "none");
        nRooms = Object.keys(roomsCreated).length;
        roomsCreated[idRoom].groupName = "Group " + nRooms;
        $("#group" + idRoom + ">p").html("Group " + nRooms);
        if (nRooms > 1) {
          head = 'YOU HAVE CREATED ' + nRooms + ' ROOMS';
        } else {
          head = 'YOU HAVE CREATED ' + nRooms + ' ROOM';
        }
        $("#head-groups").html(head);
        if(count != students.length - 1){
          idRoom = Math.random().toString(36).substring(2, 10) + Math.random().toString(36).substring(2, 10);
          roomsCreated[idRoom] = [];
        }
      }
    }

    $("#creating-rooms").remove();
    groups = [];
    enableTimer();
  }

  function initiateRooms() {
    let minutes = $('#timer-select').val();
    fetch('https://worldtimeapi.org/api/timezone/Europe/Rome')
      .then(function (response) {
        return response.text();
      }).then(function (data) {
        if (data != 'null') {
          let time = new Date(JSON.parse(data).utc_datetime)
          time = new Date(time.getTime() + minutes * 60000)
          endTimeGlobal = time;
          for (let key in roomsCreated) {
            let groupName = roomsCreated[key].groupName;
            roomsCreated[key].forEach(student => {
              realTimeDb.ref(uidProf + '/students/' + student.id).update({
                state: 'away',
                name: student.name,
                room: key,
              });
              realTimeDb.ref(uidProf + '/rooms/' + key).set({
                endtime: time.toString(),
                moreTime: 0,
                needsHelp: false,
                groupName: groupName
              });
            });
          }
          realTimeDb.ref(uidProf).update({
            endtime: endTimeGlobal.toString()
          });
          $(".join-group").css("display", "inline-block");
          $(".remove-group").css("display", "none");
          $(".start-container").css("display","none");
          $("#stop-rooms").css("display","inline-block");
          $("#students-list-container").css("display","none");
          countdownInit();
          realTimeReadRooms();
        }
      }).catch(function (err) {
        console.log('ERRORE ', err);
      })
  }
  
  function realTimeReadStudents(){
    var studentRealTime = realTimeDb.ref(uidProf + '/students/');
    studentRealTime.on('value', function (snapshot) {
      // console.log(snapshot)
      // console.log(snapshot.val())
    });
  }

  function realTimeReadRooms(){
    var roomRealTime = realTimeDb.ref(uidProf + '/rooms/');
    roomRealTime.on('value', function (snapshot) {
      let data = snapshot.val();
      for(key in data){
        let room = data[key];
        if(room.moreTime>0 && $("#not"+key+"time").length==0){
          addNotification("time", key, room.moreTime);
        }
        if(room.needsHelp == true && $("#not"+key+"help").length == 0){
          addNotification("help", key, null);
        }
      }
    });
  }

  function addNotification(type, idRoom, time){
    let node = '<div id="not'+idRoom+type+'" class="notification-badge glow">';
    if(type == "help"){
        node += roomsCreated[idRoom].groupName + ' needs help';
        node += '<span class="icons-notification"><i onclick="handleNotification(true,\'help\',\''+idRoom+'\',null)" class="fas fa-check-square accept-notification"></i><i onclick="handleNotification(false,\'help\',\'' + idRoom +'\',null)" class="fas fa-times-circle refuse-notification"></i></span></div>';    
    } else if (type == "time"){
      node += roomsCreated[idRoom].groupName + ' is asking for +' + time + 'min';
      node += '<span class="icons-notification"><i onclick="handleNotification(true,\'time\',\'' + idRoom + '\',\'' + time + '\')" class="fas fa-check-square accept-notification"></i><i onclick="handleNotification(false,\'time\',\'' + idRoom + '\',null)" class="fas fa-times-circle refuse-notification"></i></span></div>';    
    }
    $("#rooms-updates").append(node);
  }

  function handleNotification(accept, type, idRoom, time){
    if(accept==true && type == "time"){
      endTimeGlobal = new Date(endTimeGlobal.getTime() + time * 60000)
      realTimeDb.ref(uidProf).update({
        endtime: endTimeGlobal.toString()
      });
      for(key in roomsCreated){
        if (key == idRoom) {
          realTimeDb.ref(uidProf + '/rooms/' + idRoom).update({
            endtime: endTimeGlobal.toString(),
            moreTime: 0
          });
        } else {
          realTimeDb.ref(uidProf + '/rooms/' + key).update({
            endtime: endTimeGlobal.toString()
          });
        }
      }
    } else if(accept == true && type == "help"){
        realTimeDb.ref(uidProf + '/rooms/' + idRoom).update({
          needsHelp: false
        });
        joinGroup(idRoom)
    } else if(accept == false && type == "time"){
      realTimeDb.ref(uidProf + '/rooms/' + idRoom).update({
        moreTime: 0
      });
    } else if(accept == false && type == "help"){
      realTimeDb.ref(uidProf + '/rooms/' + idRoom).update({
        needsHelp: false
      });
    }
 
    $("#not"+idRoom+type).remove();
  }

  function countdownInit(){
    $("#back-prof").css("display", "none");
    fetch('https://worldtimeapi.org/api/timezone/Europe/Rome')
      .then(function (response) {
        return response.text();
      }).then(function (data) {
        if (data != 'null') {
          $("#countdown-container").css("display","inline-block");
          let time = new Date(JSON.parse(data).utc_datetime);
          countdown = setInterval(function () {
            remainingTime = Date.parse(endTimeGlobal)-Date.parse(time);
            let m = Math.floor((remainingTime % (1000 * 60 * 60)) / (1000 * 60));
            let s = Math.floor((remainingTime % (1000 * 60)) / 1000);
            time.setSeconds(time.getSeconds() + 1);
            if(s.toString().length == 1){
              s="0"+s;
            }
            $("#countdown-container").html("<p>"+m+":"+s+"</p>")
            if (remainingTime < 0) {
              // clearInterval(countdown);
              $("#countdown-container").html("<p>FINISHED</p>")
              clearAll()
            } 
          }, 1000); 
        }
      }).catch(function (err) {
        console.log('ERRORE ', err);
      })
      $("#stop-rooms").css("display", "inline-block");
      $("#rooms-updates").css("display", "inline-block");
  }
  
  function clearAll(){
    realTimeDb.ref(uidProf).remove();
    location.reload()
  }

  function setModeMatching(){
    realTimeDb.ref(uidProf).set({
      mode: "randomly",
      joining: false
    })
  }
  
</script>