<div class="row">
  <div class="col-sm-9">
    <div class="row">
      <div id="timer" style="color:white;">
        <H1>TIMER</H1>
        <H3>15:00</H3>
      </div>
    </div>
    <div class="row">
      <div class="main-section">
        <h1 class="textDefault">ROOMS VIEW</h1>
        <div class="room-container">
          <div id="room1"></div>
          <div id="room2"></div>
          <div id="room3"></div>
          <div id="room4"></div>
          <div id="room5"></div>
          <div id="room6"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <ul id="notifications" class="list-group">
      <li class="list-group-item">
        NOTIFICATION HERE
      </li>
    </ul>
  </div>
</div>